$color-orange: #FB8122;
$color-info: #FBA822;
$color-black: #1D2228;
$color-gray: #E1E2E2;

.text-white {
    color: $color-gray;
}

.text-light-orange {
    color: $color-info;
}

.text-orange {
    color: $color-orange;
}