@import 'template.scss';

.media {
  display: flex;
}

.media-body {
  margin-left: 30px;
}

.profile-image {
  height: 100%;
  width: 100%;
  border-radius: 70px;
}

.rounded-circle {
  width: 140px;
  border: 5px solid $color-info;
  padding: 0px;
}

.inner-adjust {
  padding: 0 20px;
}