<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 class="text-white text-center">Crea un nuovo Account</h3>
      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="GoogleSignUp();">
          <i class="fab fa-google"></i>
          &nbsp;Registrati con Google
        </button>
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Oppure</span></span>
      </div>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Indirizzo Email" #userEmail required>
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Registrati"
          (click)="SignUp(userEmail.value, userPwd.value);">
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Possiedi gi&aacute; un account?
        <span class="redirect" routerLink="/sign-in">Accedi</span>
      </span>
    </div>
  </div>
</div>