$line-height: 30px;

/*Bottone Base*/
.btn {
  position: relative;
  color: white;
  width: 128px;
  height: 48px;
  line-height: $line-height;
  transition: all 0.3s;
  span { 
      transition: all 0.3s;
      font-size: 14px;
      color: rgba(26, 26, 26, 1);
    }
}
.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/*Bottone 2*/
.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(26, 26, 26, 0.5);
}
.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  /*Se sottraggo left x2 al .btn width, 
  il valore che ottengo corrisponde a width*/
  left: 40px;
  top: 0px;
  width: 48px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}