<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <div class="text-white text-center"><h3>Accedi al tuo Account</h3></div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="GoogleSignIn();">
          <i class="fab fa-google"></i>
          &nbsp;Accedi con Google
        </button>
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Oppure</span></span>
      </div>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Utente" #userName required>
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Accedi"
          (click)="SignIn(userName.value, userPassword.value);">
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Password dimenticata?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Non possiedi un account? <span class="redirect" routerLink="/register-user">Registrati</span></span>
    </div>
  </div>
</div>